:root {
    --primary-color: purple;
    --secondary-color: blue;
    --attention-color: red;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

h1, h2, h3 {
    text-decoration: underline 0.2em var(--primary-color);
}

h3 {
    text-decoration: underline var(--secondary-color);
}

mark {
      color: white;
      background-color: var(--secondary-color);
      padding: 3px;
      /* border-radius: 10%; */
      /* border: 12px black; */
  }
  