:root {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #23232e;
}

a {
  text-decoration: none;
}

a:visited{
  color: inherit;
}

a:hover{
  background-color: #2c2c42;
  color: white;
}